.AppleDouble
.DS_Store

tags
TAGS
.idea/
node_modules/
bower_components/
*~
._*

*.ai
*.psd
*.eps
*.map
*.htm
*.html
!assets/html/*.html

assets/deps/*
assets/styles/css/*
assets/scripts/templates/*
assets/i18n/*
