.mainView {
    width: calc(100% - 60px);
    margin: 0 auto;

    background: white;
    .mainView__spinner {
        padding: 100px 0;

        text-align: center;
    }
}

.header {
    .header__title {
        font-size: 5.25rem;
    }
    .header__logo {
        width: 397px;
        height: 72px;
    }
}

.controls {
    position: fixed;

    padding-top: 10px;
}
.list {
    float: right;
    width: 75%;
    max-width: calc(100% - 160px);
    padding-top: 10px;
}

.controls__row {
    margin-top: 5px;
    margin-bottom: 10px;
    .select2 {
        margin-top: -5px;
    }
}

.square {
    position: relative;

    padding-bottom: 100%;
    overflow: hidden;

    background-image: -moz-linear-gradient(45deg, #eee 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #eee 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #eee 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #eee 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #eee), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #eee), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #eee)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #eee));
    background-position: 0 0, 10px 0, 10px -10px, 0 10px;
    -webkit-background-size: 20px 20px;
       -moz-background-size: 20px 20px;
            background-size: 20px 20px;
    .square__img {
        position: absolute;
        top: 50%;
        left: 50%;

        max-width: 100%;
        max-height: 100%;

        transform: translateX(-50%) translateY(-50%);
    }
}

.thumbnailData {
    margin: 0;
    .thumbnailData__title {
        float: left;
        margin-right: 0.25em;
    }
    .thumbnailData__label {
        margin-right: 0.25em;
    }
}
